@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  font-size: 2rem;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: rebeccapurple;
  color: white;
}

button:active {
  -webkit-transform: translate(1px, 2px);
      -ms-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}

button:first-child {
  padding: 0.5rem;
}

h1 {
  font-weight: 800;
  font-size: 2rem;
  padding-top: 1rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
}

.popup-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-container.active {
  opacity: 1;
  visibility: visible;
}

.popup {
  background-color: #fff;
  height: 400px;
  opacity: 0;
  width: 500px;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-100%, 0) perspective(600px) rotateY(-45deg);
          transform: translate(-100%, 0) perspective(600px) rotateY(-45deg);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.popup.active-p {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(0px) rotateY(0deg);
          transform: translateY(0) perspective(0px) rotateY(0deg);
}

#close {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40px;
          flex: 0 1 40px;
  width: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
