@import "_nullstyle.scss";

body {
}

button {
    background: purple;
    color: white;
    position: fixed;
    top: 20px;
    right: 0px;
    padding: 1.5rem;
    font-size: 20px;
    line-height: 10px;
    transition: all 0.6s;
    &.active {
        transform: translateX(-7.5rem);
    }
}
nav {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: purple;
    transform: translateX(100%);
    transition: all 0.5s;
    & ul {
        padding: 0 2.5rem;
    }
    & li {
        padding: 1.5rem 0;
        a {
            color: white;
        }
    }
    &.active {
        transform: translateX(0);
    }
}
